@import "tailwindcss";

.yRemoteSelection {
    background-color: rgb(250, 129, 0, 0.2);
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: 2px solid orange;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    height: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid orange;
    border-radius: 4px;
    left: -4px;
    top: -4px;
}
